//! **************************************************************************
// Written by: Map M.81d on Mon May 16 15:52:59 2016
//! **************************************************************************

SCHEMATIC START;
COMP "Vsync" LOCATE = SITE "P7" LEVEL 1;
COMP "ca" LOCATE = SITE "T17" LEVEL 1;
COMP "cb" LOCATE = SITE "T18" LEVEL 1;
COMP "cc" LOCATE = SITE "U17" LEVEL 1;
COMP "cd" LOCATE = SITE "U18" LEVEL 1;
COMP "ce" LOCATE = SITE "M14" LEVEL 1;
COMP "cf" LOCATE = SITE "N14" LEVEL 1;
COMP "cg" LOCATE = SITE "L14" LEVEL 1;
COMP "dp" LOCATE = SITE "M13" LEVEL 1;
COMP "vgaRed<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "vgaRed<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "vgaRed<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "PS2KeyboardData" LOCATE = SITE "J13" LEVEL 1;
COMP "PS2KeyboardCLK" LOCATE = SITE "L12" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "rst" LOCATE = SITE "B8" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "Hsync" LOCATE = SITE "N6" LEVEL 1;
COMP "vgaGreen<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "vgaGreen<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "vgaGreen<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "vgaBlue<1>" LOCATE = SITE "R7" LEVEL 1;
COMP "vgaBlue<2>" LOCATE = SITE "T7" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "ctr_0" BEL "ctr_1" BEL "ctr_2" BEL "ctr_3" BEL
        "ctr_4" BEL "ctr_5" BEL "ctr_6" BEL "ctr_7" BEL "ctr_8" BEL "ctr_9"
        BEL "ctr_10" BEL "ctr_11" BEL "ctr_12" BEL "ctr_13" BEL "ctr_14" BEL
        "ctr_15" BEL "ypos_0" BEL "ypos_1" BEL "ypos_2" BEL "ypos_3" BEL
        "ypos_4" BEL "ypos_5" BEL "ypos_6" BEL "ypos_7" BEL "ypos_8" BEL
        "ypos_9" BEL "ypos_10" BEL "ypos_11" BEL "ypos_12" BEL "ypos_13" BEL
        "ypos_14" BEL "ypos_15" BEL "jumpctr_0" BEL "jumpctr_1" BEL
        "jumpctr_2" BEL "jumpctr_3" BEL "jumpctr_4" BEL "jumpctr_5" BEL
        "jumpctr_6" BEL "jumpctr_7" BEL "jumpctr_8" BEL "jumpctr_9" BEL
        "jumpctr_10" BEL "jumpctr_11" BEL "jumpctr_12" BEL "jumpctr_13" BEL
        "jumpctr_14" BEL "jumpctr_15" BEL "jumpctr_16" BEL "jumpctr_17" BEL
        "jumpctr_18" BEL "jumpctr_19" BEL "pix_counter_1" BEL "pix_counter_2"
        BEL "pix_counter_5" BEL "pix_counter_3" BEL "pix_counter_4" BEL
        "pix_counter_6" BEL "pix_counter_7" BEL "pixel_0" BEL "pixel_1" BEL
        "pix_counter_8" BEL "xctr_1" BEL "xctr_4" BEL "xctr_2" BEL "xctr_3"
        BEL "xctr_5" BEL "xctr_6" BEL "xctr_9" BEL "xctr_7" BEL "xctr_8" BEL
        "yctr_3" BEL "yctr_1" BEL "yctr_2" BEL "yctr_4" BEL "yctr_5" BEL
        "yctr_8" BEL "yctr_6" BEL "yctr_7" BEL "yctr_9" BEL "boxpos_2" BEL
        "boxpos_4" BEL "boxpos_8" BEL "boxpos_9" BEL "boxpos_10" BEL
        "boxpos_13" BEL "boxpos_11" BEL "boxpos_12" BEL "boxpos_14" BEL
        "boxpos_15" BEL "xctr_0" BEL "yctr_0" BEL "U0/PS2BitCounter_3" BEL
        "U0/PS2BitCounter_2" BEL "U0/PS2BitCounter_1" BEL "U0/PS2BitCounter_0"
        BEL "U0/PS2state_FSM_FFd1" BEL "U0/PS2state_FSM_FFd2" BEL
        "U0/PS2Data_sr_7" BEL "U0/PS2Data_sr_6" BEL "U0/PS2Data_sr_5" BEL
        "U0/PS2Data_sr_4" BEL "U0/PS2Data_sr_3" BEL "U0/PS2Data_sr_2" BEL
        "U0/PS2Data_sr_1" BEL "U0/PS2Clk_Q1" BEL "U0/PS2Clk" BEL "U0/PS2Data"
        BEL "U0/PS2Clk_Q2" BEL "led/counter_r_17" BEL "led/counter_r_16" BEL
        "led/counter_r_15" BEL "led/counter_r_14" BEL "led/counter_r_13" BEL
        "led/counter_r_12" BEL "led/counter_r_11" BEL "led/counter_r_10" BEL
        "led/counter_r_9" BEL "led/counter_r_8" BEL "led/counter_r_7" BEL
        "led/counter_r_6" BEL "led/counter_r_5" BEL "led/counter_r_4" BEL
        "led/counter_r_3" BEL "led/counter_r_2" BEL "led/counter_r_1" BEL
        "led/counter_r_0" BEL "led/segments_6" BEL "led/segments_5" BEL
        "led/segments_4" BEL "led/segments_3" BEL "led/segments_2" BEL
        "led/segments_1" BEL "led/segments_0" BEL "led/an_3" BEL "led/an_2"
        BEL "led/an_1" BEL "led/an_0" BEL "skicka/PC_REG_15" BEL
        "skicka/PC_REG_14" BEL "skicka/PC_REG_13" BEL "skicka/PC_REG_12" BEL
        "skicka/PC_REG_11" BEL "skicka/PC_REG_10" BEL "skicka/PC_REG_9" BEL
        "skicka/PC_REG_8" BEL "skicka/PC_REG_7" BEL "skicka/PC_REG_6" BEL
        "skicka/PC_REG_5" BEL "skicka/PC_REG_4" BEL "skicka/PC_REG_3" BEL
        "skicka/PC_REG_2" BEL "skicka/PC_REG_1" BEL "skicka/PC_REG_0" BEL
        "skicka/ram_0_15" BEL "skicka/ram_0_14" BEL "skicka/ram_0_13" BEL
        "skicka/ram_0_12" BEL "skicka/ram_0_11" BEL "skicka/ram_0_10" BEL
        "skicka/ram_0_9" BEL "skicka/ram_0_8" BEL "skicka/ram_0_7" BEL
        "skicka/ram_0_6" BEL "skicka/ram_0_5" BEL "skicka/ram_0_4" BEL
        "skicka/ram_0_3" BEL "skicka/ram_0_2" BEL "skicka/ram_0_1" BEL
        "skicka/ram_0_0" BEL "skicka/AR_REG_15" BEL "skicka/AR_REG_14" BEL
        "skicka/AR_REG_13" BEL "skicka/AR_REG_12" BEL "skicka/AR_REG_11" BEL
        "skicka/AR_REG_10" BEL "skicka/AR_REG_9" BEL "skicka/AR_REG_8" BEL
        "skicka/AR_REG_7" BEL "skicka/AR_REG_6" BEL "skicka/AR_REG_5" BEL
        "skicka/AR_REG_4" BEL "skicka/AR_REG_3" BEL "skicka/AR_REG_2" BEL
        "skicka/AR_REG_1" BEL "skicka/AR_REG_0" BEL "skicka/MPC_5" BEL
        "skicka/MPC_4" BEL "skicka/MPC_3" BEL "skicka/MPC_2" BEL
        "skicka/MPC_1" BEL "skicka/MPC_0" BEL "skicka/ASR_REG_15" BEL
        "skicka/ASR_REG_14" BEL "skicka/ASR_REG_13" BEL "skicka/ASR_REG_12"
        BEL "skicka/ASR_REG_11" BEL "skicka/ASR_REG_10" BEL "skicka/ASR_REG_9"
        BEL "skicka/ASR_REG_8" BEL "skicka/ASR_REG_7" BEL "skicka/ASR_REG_6"
        BEL "skicka/ASR_REG_5" BEL "skicka/ASR_REG_4" BEL "skicka/ASR_REG_3"
        BEL "skicka/ASR_REG_2" BEL "skicka/ASR_REG_1" BEL "skicka/ASR_REG_0"
        BEL "skicka/GR2_REG_15" BEL "skicka/GR2_REG_14" BEL
        "skicka/GR2_REG_13" BEL "skicka/GR2_REG_12" BEL "skicka/GR2_REG_11"
        BEL "skicka/GR2_REG_10" BEL "skicka/GR2_REG_9" BEL "skicka/GR2_REG_8"
        BEL "skicka/GR2_REG_7" BEL "skicka/GR2_REG_6" BEL "skicka/GR2_REG_5"
        BEL "skicka/GR2_REG_4" BEL "skicka/GR2_REG_3" BEL "skicka/GR2_REG_2"
        BEL "skicka/GR2_REG_1" BEL "skicka/GR2_REG_0" BEL "skicka/GR1_REG_15"
        BEL "skicka/GR1_REG_14" BEL "skicka/GR1_REG_13" BEL
        "skicka/GR1_REG_12" BEL "skicka/GR1_REG_11" BEL "skicka/GR1_REG_10"
        BEL "skicka/GR1_REG_9" BEL "skicka/GR1_REG_8" BEL "skicka/GR1_REG_7"
        BEL "skicka/GR1_REG_6" BEL "skicka/GR1_REG_5" BEL "skicka/GR1_REG_4"
        BEL "skicka/GR1_REG_3" BEL "skicka/GR1_REG_2" BEL "skicka/GR1_REG_1"
        BEL "skicka/GR1_REG_0" BEL "skicka/GR3_REG_15" BEL "skicka/GR3_REG_14"
        BEL "skicka/GR3_REG_13" BEL "skicka/GR3_REG_12" BEL
        "skicka/GR3_REG_11" BEL "skicka/GR3_REG_10" BEL "skicka/GR3_REG_9" BEL
        "skicka/GR3_REG_8" BEL "skicka/GR3_REG_7" BEL "skicka/GR3_REG_6" BEL
        "skicka/GR3_REG_5" BEL "skicka/GR3_REG_4" BEL "skicka/GR3_REG_3" BEL
        "skicka/GR3_REG_2" BEL "skicka/GR3_REG_1" BEL "skicka/GR3_REG_0" BEL
        "skicka/HR_REG_15" BEL "skicka/HR_REG_14" BEL "skicka/HR_REG_13" BEL
        "skicka/HR_REG_12" BEL "skicka/HR_REG_11" BEL "skicka/HR_REG_10" BEL
        "skicka/HR_REG_9" BEL "skicka/HR_REG_8" BEL "skicka/HR_REG_7" BEL
        "skicka/HR_REG_6" BEL "skicka/HR_REG_5" BEL "skicka/HR_REG_4" BEL
        "skicka/HR_REG_3" BEL "skicka/HR_REG_2" BEL "skicka/HR_REG_1" BEL
        "skicka/HR_REG_0" BEL "skicka/IR_REG_15" BEL "skicka/IR_REG_14" BEL
        "skicka/IR_REG_13" BEL "skicka/IR_REG_12" BEL "skicka/IR_REG_11" BEL
        "skicka/IR_REG_10" BEL "skicka/IR_REG_9" BEL "skicka/IR_REG_8" BEL
        "skicka/IR_REG_7" BEL "skicka/IR_REG_6" BEL "skicka/IR_REG_5" BEL
        "skicka/IR_REG_4" BEL "skicka/IR_REG_3" BEL "skicka/IR_REG_2" BEL
        "skicka/IR_REG_1" BEL "skicka/IR_REG_0" BEL "skicka/GR0_REG_15" BEL
        "skicka/GR0_REG_14" BEL "skicka/GR0_REG_13" BEL "skicka/GR0_REG_12"
        BEL "skicka/GR0_REG_11" BEL "skicka/GR0_REG_10" BEL "skicka/GR0_REG_9"
        BEL "skicka/GR0_REG_8" BEL "skicka/GR0_REG_7" BEL "skicka/GR0_REG_6"
        BEL "skicka/GR0_REG_5" BEL "skicka/GR0_REG_4" BEL "skicka/GR0_REG_3"
        BEL "skicka/GR0_REG_2" BEL "skicka/GR0_REG_1" BEL "skicka/GR0_REG_0"
        BEL "skicka/ram_67_15" BEL "skicka/ram_67_14" BEL "skicka/ram_67_13"
        BEL "skicka/ram_67_12" BEL "skicka/ram_67_11" BEL "skicka/ram_67_10"
        BEL "skicka/ram_67_9" BEL "skicka/ram_67_8" BEL "skicka/ram_67_7" BEL
        "skicka/ram_67_6" BEL "skicka/ram_67_5" BEL "skicka/ram_67_4" BEL
        "skicka/ram_67_3" BEL "skicka/ram_67_2" BEL "skicka/ram_67_1" BEL
        "skicka/ram_67_0" BEL "skicka/ram_66_15" BEL "skicka/ram_66_14" BEL
        "skicka/ram_66_13" BEL "skicka/ram_66_12" BEL "skicka/ram_66_11" BEL
        "skicka/ram_66_10" BEL "skicka/ram_66_9" BEL "skicka/ram_66_8" BEL
        "skicka/ram_66_7" BEL "skicka/ram_66_6" BEL "skicka/ram_66_5" BEL
        "skicka/ram_66_4" BEL "skicka/ram_66_3" BEL "skicka/ram_66_2" BEL
        "skicka/ram_66_1" BEL "skicka/ram_66_0" BEL "skicka/ram_65_15" BEL
        "skicka/ram_65_14" BEL "skicka/ram_65_13" BEL "skicka/ram_65_12" BEL
        "skicka/ram_65_11" BEL "skicka/ram_65_10" BEL "skicka/ram_65_9" BEL
        "skicka/ram_65_8" BEL "skicka/ram_65_7" BEL "skicka/ram_65_6" BEL
        "skicka/ram_65_5" BEL "skicka/ram_65_4" BEL "skicka/ram_65_3" BEL
        "skicka/ram_65_2" BEL "skicka/ram_65_1" BEL "skicka/ram_65_0" BEL
        "skicka/ram_64_15" BEL "skicka/ram_64_14" BEL "skicka/ram_64_13" BEL
        "skicka/ram_64_12" BEL "skicka/ram_64_11" BEL "skicka/ram_64_10" BEL
        "skicka/ram_64_9" BEL "skicka/ram_64_8" BEL "skicka/ram_64_7" BEL
        "skicka/ram_64_6" BEL "skicka/ram_64_5" BEL "skicka/ram_64_4" BEL
        "skicka/ram_64_3" BEL "skicka/ram_64_2" BEL "skicka/ram_64_1" BEL
        "skicka/ram_64_0" BEL "skicka/ram_62_15" BEL "skicka/ram_62_14" BEL
        "skicka/ram_62_13" BEL "skicka/ram_62_12" BEL "skicka/ram_62_11" BEL
        "skicka/ram_62_10" BEL "skicka/ram_62_9" BEL "skicka/ram_62_8" BEL
        "skicka/ram_62_7" BEL "skicka/ram_62_6" BEL "skicka/ram_62_5" BEL
        "skicka/ram_62_4" BEL "skicka/ram_62_3" BEL "skicka/ram_62_2" BEL
        "skicka/ram_62_1" BEL "skicka/ram_62_0" BEL "skicka/ram_61_15" BEL
        "skicka/ram_61_14" BEL "skicka/ram_61_13" BEL "skicka/ram_61_12" BEL
        "skicka/ram_61_11" BEL "skicka/ram_61_10" BEL "skicka/ram_61_9" BEL
        "skicka/ram_61_8" BEL "skicka/ram_61_7" BEL "skicka/ram_61_6" BEL
        "skicka/ram_61_5" BEL "skicka/ram_61_4" BEL "skicka/ram_61_3" BEL
        "skicka/ram_61_2" BEL "skicka/ram_61_1" BEL "skicka/ram_61_0" BEL
        "skicka/ram_63_15" BEL "skicka/ram_63_14" BEL "skicka/ram_63_13" BEL
        "skicka/ram_63_12" BEL "skicka/ram_63_11" BEL "skicka/ram_63_10" BEL
        "skicka/ram_63_9" BEL "skicka/ram_63_8" BEL "skicka/ram_63_7" BEL
        "skicka/ram_63_6" BEL "skicka/ram_63_5" BEL "skicka/ram_63_4" BEL
        "skicka/ram_63_3" BEL "skicka/ram_63_2" BEL "skicka/ram_63_1" BEL
        "skicka/ram_63_0" BEL "skicka/ram_59_15" BEL "skicka/ram_59_14" BEL
        "skicka/ram_59_13" BEL "skicka/ram_59_12" BEL "skicka/ram_59_11" BEL
        "skicka/ram_59_10" BEL "skicka/ram_59_9" BEL "skicka/ram_59_8" BEL
        "skicka/ram_59_7" BEL "skicka/ram_59_6" BEL "skicka/ram_59_5" BEL
        "skicka/ram_59_4" BEL "skicka/ram_59_3" BEL "skicka/ram_59_2" BEL
        "skicka/ram_59_1" BEL "skicka/ram_59_0" BEL "skicka/ram_58_15" BEL
        "skicka/ram_58_14" BEL "skicka/ram_58_13" BEL "skicka/ram_58_12" BEL
        "skicka/ram_58_11" BEL "skicka/ram_58_10" BEL "skicka/ram_58_9" BEL
        "skicka/ram_58_8" BEL "skicka/ram_58_7" BEL "skicka/ram_58_6" BEL
        "skicka/ram_58_5" BEL "skicka/ram_58_4" BEL "skicka/ram_58_3" BEL
        "skicka/ram_58_2" BEL "skicka/ram_58_1" BEL "skicka/ram_58_0" BEL
        "skicka/ram_60_15" BEL "skicka/ram_60_14" BEL "skicka/ram_60_13" BEL
        "skicka/ram_60_12" BEL "skicka/ram_60_11" BEL "skicka/ram_60_10" BEL
        "skicka/ram_60_9" BEL "skicka/ram_60_8" BEL "skicka/ram_60_7" BEL
        "skicka/ram_60_6" BEL "skicka/ram_60_5" BEL "skicka/ram_60_4" BEL
        "skicka/ram_60_3" BEL "skicka/ram_60_2" BEL "skicka/ram_60_1" BEL
        "skicka/ram_60_0" BEL "skicka/ram_56_15" BEL "skicka/ram_56_14" BEL
        "skicka/ram_56_13" BEL "skicka/ram_56_12" BEL "skicka/ram_56_11" BEL
        "skicka/ram_56_10" BEL "skicka/ram_56_9" BEL "skicka/ram_56_8" BEL
        "skicka/ram_56_7" BEL "skicka/ram_56_6" BEL "skicka/ram_56_5" BEL
        "skicka/ram_56_4" BEL "skicka/ram_56_3" BEL "skicka/ram_56_2" BEL
        "skicka/ram_56_1" BEL "skicka/ram_56_0" BEL "skicka/ram_55_15" BEL
        "skicka/ram_55_14" BEL "skicka/ram_55_13" BEL "skicka/ram_55_12" BEL
        "skicka/ram_55_11" BEL "skicka/ram_55_10" BEL "skicka/ram_55_9" BEL
        "skicka/ram_55_8" BEL "skicka/ram_55_7" BEL "skicka/ram_55_6" BEL
        "skicka/ram_55_5" BEL "skicka/ram_55_4" BEL "skicka/ram_55_3" BEL
        "skicka/ram_55_2" BEL "skicka/ram_55_1" BEL "skicka/ram_55_0" BEL
        "skicka/ram_57_15" BEL "skicka/ram_57_14" BEL "skicka/ram_57_13" BEL
        "skicka/ram_57_12" BEL "skicka/ram_57_11" BEL "skicka/ram_57_10" BEL
        "skicka/ram_57_9" BEL "skicka/ram_57_8" BEL "skicka/ram_57_7" BEL
        "skicka/ram_57_6" BEL "skicka/ram_57_5" BEL "skicka/ram_57_4" BEL
        "skicka/ram_57_3" BEL "skicka/ram_57_2" BEL "skicka/ram_57_1" BEL
        "skicka/ram_57_0" BEL "skicka/ram_54_15" BEL "skicka/ram_54_14" BEL
        "skicka/ram_54_13" BEL "skicka/ram_54_12" BEL "skicka/ram_54_11" BEL
        "skicka/ram_54_10" BEL "skicka/ram_54_9" BEL "skicka/ram_54_8" BEL
        "skicka/ram_54_7" BEL "skicka/ram_54_6" BEL "skicka/ram_54_5" BEL
        "skicka/ram_54_4" BEL "skicka/ram_54_3" BEL "skicka/ram_54_2" BEL
        "skicka/ram_54_1" BEL "skicka/ram_54_0" BEL "skicka/ram_53_15" BEL
        "skicka/ram_53_14" BEL "skicka/ram_53_13" BEL "skicka/ram_53_12" BEL
        "skicka/ram_53_11" BEL "skicka/ram_53_10" BEL "skicka/ram_53_9" BEL
        "skicka/ram_53_8" BEL "skicka/ram_53_7" BEL "skicka/ram_53_6" BEL
        "skicka/ram_53_5" BEL "skicka/ram_53_4" BEL "skicka/ram_53_3" BEL
        "skicka/ram_53_2" BEL "skicka/ram_53_1" BEL "skicka/ram_53_0" BEL
        "skicka/ram_52_15" BEL "skicka/ram_52_14" BEL "skicka/ram_52_13" BEL
        "skicka/ram_52_12" BEL "skicka/ram_52_11" BEL "skicka/ram_52_10" BEL
        "skicka/ram_52_9" BEL "skicka/ram_52_8" BEL "skicka/ram_52_7" BEL
        "skicka/ram_52_6" BEL "skicka/ram_52_5" BEL "skicka/ram_52_4" BEL
        "skicka/ram_52_3" BEL "skicka/ram_52_2" BEL "skicka/ram_52_1" BEL
        "skicka/ram_52_0" BEL "skicka/ram_51_15" BEL "skicka/ram_51_14" BEL
        "skicka/ram_51_13" BEL "skicka/ram_51_12" BEL "skicka/ram_51_11" BEL
        "skicka/ram_51_10" BEL "skicka/ram_51_9" BEL "skicka/ram_51_8" BEL
        "skicka/ram_51_7" BEL "skicka/ram_51_6" BEL "skicka/ram_51_5" BEL
        "skicka/ram_51_4" BEL "skicka/ram_51_3" BEL "skicka/ram_51_2" BEL
        "skicka/ram_51_1" BEL "skicka/ram_51_0" BEL "skicka/ram_49_15" BEL
        "skicka/ram_49_14" BEL "skicka/ram_49_13" BEL "skicka/ram_49_12" BEL
        "skicka/ram_49_11" BEL "skicka/ram_49_10" BEL "skicka/ram_49_9" BEL
        "skicka/ram_49_8" BEL "skicka/ram_49_7" BEL "skicka/ram_49_6" BEL
        "skicka/ram_49_5" BEL "skicka/ram_49_4" BEL "skicka/ram_49_3" BEL
        "skicka/ram_49_2" BEL "skicka/ram_49_1" BEL "skicka/ram_49_0" BEL
        "skicka/ram_48_15" BEL "skicka/ram_48_14" BEL "skicka/ram_48_13" BEL
        "skicka/ram_48_12" BEL "skicka/ram_48_11" BEL "skicka/ram_48_10" BEL
        "skicka/ram_48_9" BEL "skicka/ram_48_8" BEL "skicka/ram_48_7" BEL
        "skicka/ram_48_6" BEL "skicka/ram_48_5" BEL "skicka/ram_48_4" BEL
        "skicka/ram_48_3" BEL "skicka/ram_48_2" BEL "skicka/ram_48_1" BEL
        "skicka/ram_48_0" BEL "skicka/ram_50_15" BEL "skicka/ram_50_14" BEL
        "skicka/ram_50_13" BEL "skicka/ram_50_12" BEL "skicka/ram_50_11" BEL
        "skicka/ram_50_10" BEL "skicka/ram_50_9" BEL "skicka/ram_50_8" BEL
        "skicka/ram_50_7" BEL "skicka/ram_50_6" BEL "skicka/ram_50_5" BEL
        "skicka/ram_50_4" BEL "skicka/ram_50_3" BEL "skicka/ram_50_2" BEL
        "skicka/ram_50_1" BEL "skicka/ram_50_0" BEL "skicka/ram_46_15" BEL
        "skicka/ram_46_14" BEL "skicka/ram_46_13" BEL "skicka/ram_46_12" BEL
        "skicka/ram_46_11" BEL "skicka/ram_46_10" BEL "skicka/ram_46_9" BEL
        "skicka/ram_46_8" BEL "skicka/ram_46_7" BEL "skicka/ram_46_6" BEL
        "skicka/ram_46_5" BEL "skicka/ram_46_4" BEL "skicka/ram_46_3" BEL
        "skicka/ram_46_2" BEL "skicka/ram_46_1" BEL "skicka/ram_46_0" BEL
        "skicka/ram_45_15" BEL "skicka/ram_45_14" BEL "skicka/ram_45_13" BEL
        "skicka/ram_45_12" BEL "skicka/ram_45_11" BEL "skicka/ram_45_10" BEL
        "skicka/ram_45_9" BEL "skicka/ram_45_8" BEL "skicka/ram_45_7" BEL
        "skicka/ram_45_6" BEL "skicka/ram_45_5" BEL "skicka/ram_45_4" BEL
        "skicka/ram_45_3" BEL "skicka/ram_45_2" BEL "skicka/ram_45_1" BEL
        "skicka/ram_45_0" BEL "skicka/ram_47_15" BEL "skicka/ram_47_14" BEL
        "skicka/ram_47_13" BEL "skicka/ram_47_12" BEL "skicka/ram_47_11" BEL
        "skicka/ram_47_10" BEL "skicka/ram_47_9" BEL "skicka/ram_47_8" BEL
        "skicka/ram_47_7" BEL "skicka/ram_47_6" BEL "skicka/ram_47_5" BEL
        "skicka/ram_47_4" BEL "skicka/ram_47_3" BEL "skicka/ram_47_2" BEL
        "skicka/ram_47_1" BEL "skicka/ram_47_0" BEL "skicka/ram_43_15" BEL
        "skicka/ram_43_14" BEL "skicka/ram_43_13" BEL "skicka/ram_43_12" BEL
        "skicka/ram_43_11" BEL "skicka/ram_43_10" BEL "skicka/ram_43_9" BEL
        "skicka/ram_43_8" BEL "skicka/ram_43_7" BEL "skicka/ram_43_6" BEL
        "skicka/ram_43_5" BEL "skicka/ram_43_4" BEL "skicka/ram_43_3" BEL
        "skicka/ram_43_2" BEL "skicka/ram_43_1" BEL "skicka/ram_43_0" BEL
        "skicka/ram_42_15" BEL "skicka/ram_42_14" BEL "skicka/ram_42_13" BEL
        "skicka/ram_42_12" BEL "skicka/ram_42_11" BEL "skicka/ram_42_10" BEL
        "skicka/ram_42_9" BEL "skicka/ram_42_8" BEL "skicka/ram_42_7" BEL
        "skicka/ram_42_6" BEL "skicka/ram_42_5" BEL "skicka/ram_42_4" BEL
        "skicka/ram_42_3" BEL "skicka/ram_42_2" BEL "skicka/ram_42_1" BEL
        "skicka/ram_42_0" BEL "skicka/ram_44_15" BEL "skicka/ram_44_14" BEL
        "skicka/ram_44_13" BEL "skicka/ram_44_12" BEL "skicka/ram_44_11" BEL
        "skicka/ram_44_10" BEL "skicka/ram_44_9" BEL "skicka/ram_44_8" BEL
        "skicka/ram_44_7" BEL "skicka/ram_44_6" BEL "skicka/ram_44_5" BEL
        "skicka/ram_44_4" BEL "skicka/ram_44_3" BEL "skicka/ram_44_2" BEL
        "skicka/ram_44_1" BEL "skicka/ram_44_0" BEL "skicka/ram_40_15" BEL
        "skicka/ram_40_14" BEL "skicka/ram_40_13" BEL "skicka/ram_40_12" BEL
        "skicka/ram_40_11" BEL "skicka/ram_40_10" BEL "skicka/ram_40_9" BEL
        "skicka/ram_40_8" BEL "skicka/ram_40_7" BEL "skicka/ram_40_6" BEL
        "skicka/ram_40_5" BEL "skicka/ram_40_4" BEL "skicka/ram_40_3" BEL
        "skicka/ram_40_2" BEL "skicka/ram_40_1" BEL "skicka/ram_40_0" BEL
        "skicka/ram_39_15" BEL "skicka/ram_39_14" BEL "skicka/ram_39_13" BEL
        "skicka/ram_39_12" BEL "skicka/ram_39_11" BEL "skicka/ram_39_10" BEL
        "skicka/ram_39_9" BEL "skicka/ram_39_8" BEL "skicka/ram_39_7" BEL
        "skicka/ram_39_6" BEL "skicka/ram_39_5" BEL "skicka/ram_39_4" BEL
        "skicka/ram_39_3" BEL "skicka/ram_39_2" BEL "skicka/ram_39_1" BEL
        "skicka/ram_39_0" BEL "skicka/ram_41_15" BEL "skicka/ram_41_14" BEL
        "skicka/ram_41_13" BEL "skicka/ram_41_12" BEL "skicka/ram_41_11" BEL
        "skicka/ram_41_10" BEL "skicka/ram_41_9" BEL "skicka/ram_41_8" BEL
        "skicka/ram_41_7" BEL "skicka/ram_41_6" BEL "skicka/ram_41_5" BEL
        "skicka/ram_41_4" BEL "skicka/ram_41_3" BEL "skicka/ram_41_2" BEL
        "skicka/ram_41_1" BEL "skicka/ram_41_0" BEL "skicka/ram_37_15" BEL
        "skicka/ram_37_14" BEL "skicka/ram_37_13" BEL "skicka/ram_37_12" BEL
        "skicka/ram_37_11" BEL "skicka/ram_37_10" BEL "skicka/ram_37_9" BEL
        "skicka/ram_37_8" BEL "skicka/ram_37_7" BEL "skicka/ram_37_6" BEL
        "skicka/ram_37_5" BEL "skicka/ram_37_4" BEL "skicka/ram_37_3" BEL
        "skicka/ram_37_2" BEL "skicka/ram_37_1" BEL "skicka/ram_37_0" BEL
        "skicka/ram_36_15" BEL "skicka/ram_36_14" BEL "skicka/ram_36_13" BEL
        "skicka/ram_36_12" BEL "skicka/ram_36_11" BEL "skicka/ram_36_10" BEL
        "skicka/ram_36_9" BEL "skicka/ram_36_8" BEL "skicka/ram_36_7" BEL
        "skicka/ram_36_6" BEL "skicka/ram_36_5" BEL "skicka/ram_36_4" BEL
        "skicka/ram_36_3" BEL "skicka/ram_36_2" BEL "skicka/ram_36_1" BEL
        "skicka/ram_36_0" BEL "skicka/ram_38_15" BEL "skicka/ram_38_14" BEL
        "skicka/ram_38_13" BEL "skicka/ram_38_12" BEL "skicka/ram_38_11" BEL
        "skicka/ram_38_10" BEL "skicka/ram_38_9" BEL "skicka/ram_38_8" BEL
        "skicka/ram_38_7" BEL "skicka/ram_38_6" BEL "skicka/ram_38_5" BEL
        "skicka/ram_38_4" BEL "skicka/ram_38_3" BEL "skicka/ram_38_2" BEL
        "skicka/ram_38_1" BEL "skicka/ram_38_0" BEL "skicka/ram_34_15" BEL
        "skicka/ram_34_14" BEL "skicka/ram_34_13" BEL "skicka/ram_34_12" BEL
        "skicka/ram_34_11" BEL "skicka/ram_34_10" BEL "skicka/ram_34_9" BEL
        "skicka/ram_34_8" BEL "skicka/ram_34_7" BEL "skicka/ram_34_6" BEL
        "skicka/ram_34_5" BEL "skicka/ram_34_4" BEL "skicka/ram_34_3" BEL
        "skicka/ram_34_2" BEL "skicka/ram_34_1" BEL "skicka/ram_34_0" BEL
        "skicka/ram_33_15" BEL "skicka/ram_33_14" BEL "skicka/ram_33_13" BEL
        "skicka/ram_33_12" BEL "skicka/ram_33_11" BEL "skicka/ram_33_10" BEL
        "skicka/ram_33_9" BEL "skicka/ram_33_8" BEL "skicka/ram_33_7" BEL
        "skicka/ram_33_6" BEL "skicka/ram_33_5" BEL "skicka/ram_33_4" BEL
        "skicka/ram_33_3" BEL "skicka/ram_33_2" BEL "skicka/ram_33_1" BEL
        "skicka/ram_33_0" BEL "skicka/ram_35_15" BEL "skicka/ram_35_14" BEL
        "skicka/ram_35_13" BEL "skicka/ram_35_12" BEL "skicka/ram_35_11" BEL
        "skicka/ram_35_10" BEL "skicka/ram_35_9" BEL "skicka/ram_35_8" BEL
        "skicka/ram_35_7" BEL "skicka/ram_35_6" BEL "skicka/ram_35_5" BEL
        "skicka/ram_35_4" BEL "skicka/ram_35_3" BEL "skicka/ram_35_2" BEL
        "skicka/ram_35_1" BEL "skicka/ram_35_0" BEL "skicka/ram_31_15" BEL
        "skicka/ram_31_14" BEL "skicka/ram_31_13" BEL "skicka/ram_31_12" BEL
        "skicka/ram_31_11" BEL "skicka/ram_31_10" BEL "skicka/ram_31_9" BEL
        "skicka/ram_31_8" BEL "skicka/ram_31_7" BEL "skicka/ram_31_6" BEL
        "skicka/ram_31_5" BEL "skicka/ram_31_4" BEL "skicka/ram_31_3" BEL
        "skicka/ram_31_2" BEL "skicka/ram_31_1" BEL "skicka/ram_31_0" BEL
        "skicka/ram_30_15" BEL "skicka/ram_30_14" BEL "skicka/ram_30_13" BEL
        "skicka/ram_30_12" BEL "skicka/ram_30_11" BEL "skicka/ram_30_10" BEL
        "skicka/ram_30_9" BEL "skicka/ram_30_8" BEL "skicka/ram_30_7" BEL
        "skicka/ram_30_6" BEL "skicka/ram_30_5" BEL "skicka/ram_30_4" BEL
        "skicka/ram_30_3" BEL "skicka/ram_30_2" BEL "skicka/ram_30_1" BEL
        "skicka/ram_30_0" BEL "skicka/ram_32_15" BEL "skicka/ram_32_14" BEL
        "skicka/ram_32_13" BEL "skicka/ram_32_12" BEL "skicka/ram_32_11" BEL
        "skicka/ram_32_10" BEL "skicka/ram_32_9" BEL "skicka/ram_32_8" BEL
        "skicka/ram_32_7" BEL "skicka/ram_32_6" BEL "skicka/ram_32_5" BEL
        "skicka/ram_32_4" BEL "skicka/ram_32_3" BEL "skicka/ram_32_2" BEL
        "skicka/ram_32_1" BEL "skicka/ram_32_0" BEL "skicka/ram_29_15" BEL
        "skicka/ram_29_14" BEL "skicka/ram_29_13" BEL "skicka/ram_29_12" BEL
        "skicka/ram_29_11" BEL "skicka/ram_29_10" BEL "skicka/ram_29_9" BEL
        "skicka/ram_29_8" BEL "skicka/ram_29_7" BEL "skicka/ram_29_6" BEL
        "skicka/ram_29_5" BEL "skicka/ram_29_4" BEL "skicka/ram_29_3" BEL
        "skicka/ram_29_2" BEL "skicka/ram_29_1" BEL "skicka/ram_29_0" BEL
        "skicka/ram_28_15" BEL "skicka/ram_28_14" BEL "skicka/ram_28_13" BEL
        "skicka/ram_28_12" BEL "skicka/ram_28_11" BEL "skicka/ram_28_10" BEL
        "skicka/ram_28_9" BEL "skicka/ram_28_8" BEL "skicka/ram_28_7" BEL
        "skicka/ram_28_6" BEL "skicka/ram_28_5" BEL "skicka/ram_28_4" BEL
        "skicka/ram_28_3" BEL "skicka/ram_28_2" BEL "skicka/ram_28_1" BEL
        "skicka/ram_28_0" BEL "skicka/ram_27_15" BEL "skicka/ram_27_14" BEL
        "skicka/ram_27_13" BEL "skicka/ram_27_12" BEL "skicka/ram_27_11" BEL
        "skicka/ram_27_10" BEL "skicka/ram_27_9" BEL "skicka/ram_27_8" BEL
        "skicka/ram_27_7" BEL "skicka/ram_27_6" BEL "skicka/ram_27_5" BEL
        "skicka/ram_27_4" BEL "skicka/ram_27_3" BEL "skicka/ram_27_2" BEL
        "skicka/ram_27_1" BEL "skicka/ram_27_0" BEL "skicka/ram_26_15" BEL
        "skicka/ram_26_14" BEL "skicka/ram_26_13" BEL "skicka/ram_26_12" BEL
        "skicka/ram_26_11" BEL "skicka/ram_26_10" BEL "skicka/ram_26_9" BEL
        "skicka/ram_26_8" BEL "skicka/ram_26_7" BEL "skicka/ram_26_6" BEL
        "skicka/ram_26_5" BEL "skicka/ram_26_4" BEL "skicka/ram_26_3" BEL
        "skicka/ram_26_2" BEL "skicka/ram_26_1" BEL "skicka/ram_26_0" BEL
        "skicka/ram_24_15" BEL "skicka/ram_24_14" BEL "skicka/ram_24_13" BEL
        "skicka/ram_24_12" BEL "skicka/ram_24_11" BEL "skicka/ram_24_10" BEL
        "skicka/ram_24_9" BEL "skicka/ram_24_8" BEL "skicka/ram_24_7" BEL
        "skicka/ram_24_6" BEL "skicka/ram_24_5" BEL "skicka/ram_24_4" BEL
        "skicka/ram_24_3" BEL "skicka/ram_24_2" BEL "skicka/ram_24_1" BEL
        "skicka/ram_24_0" BEL "skicka/ram_23_15" BEL "skicka/ram_23_14" BEL
        "skicka/ram_23_13" BEL "skicka/ram_23_12" BEL "skicka/ram_23_11" BEL
        "skicka/ram_23_10" BEL "skicka/ram_23_9" BEL "skicka/ram_23_8" BEL
        "skicka/ram_23_7" BEL "skicka/ram_23_6" BEL "skicka/ram_23_5" BEL
        "skicka/ram_23_4" BEL "skicka/ram_23_3" BEL "skicka/ram_23_2" BEL
        "skicka/ram_23_1" BEL "skicka/ram_23_0" BEL "skicka/ram_25_15" BEL
        "skicka/ram_25_14" BEL "skicka/ram_25_13" BEL "skicka/ram_25_12" BEL
        "skicka/ram_25_11" BEL "skicka/ram_25_10" BEL "skicka/ram_25_9" BEL
        "skicka/ram_25_8" BEL "skicka/ram_25_7" BEL "skicka/ram_25_6" BEL
        "skicka/ram_25_5" BEL "skicka/ram_25_4" BEL "skicka/ram_25_3" BEL
        "skicka/ram_25_2" BEL "skicka/ram_25_1" BEL "skicka/ram_25_0" BEL
        "skicka/ram_21_15" BEL "skicka/ram_21_14" BEL "skicka/ram_21_13" BEL
        "skicka/ram_21_12" BEL "skicka/ram_21_11" BEL "skicka/ram_21_10" BEL
        "skicka/ram_21_9" BEL "skicka/ram_21_8" BEL "skicka/ram_21_7" BEL
        "skicka/ram_21_6" BEL "skicka/ram_21_5" BEL "skicka/ram_21_4" BEL
        "skicka/ram_21_3" BEL "skicka/ram_21_2" BEL "skicka/ram_21_1" BEL
        "skicka/ram_21_0" BEL "skicka/ram_20_15" BEL "skicka/ram_20_14" BEL
        "skicka/ram_20_13" BEL "skicka/ram_20_12" BEL "skicka/ram_20_11" BEL
        "skicka/ram_20_10" BEL "skicka/ram_20_9" BEL "skicka/ram_20_8" BEL
        "skicka/ram_20_7" BEL "skicka/ram_20_6" BEL "skicka/ram_20_5" BEL
        "skicka/ram_20_4" BEL "skicka/ram_20_3" BEL "skicka/ram_20_2" BEL
        "skicka/ram_20_1" BEL "skicka/ram_20_0" BEL "skicka/ram_22_15" BEL
        "skicka/ram_22_14" BEL "skicka/ram_22_13" BEL "skicka/ram_22_12" BEL
        "skicka/ram_22_11" BEL "skicka/ram_22_10" BEL "skicka/ram_22_9" BEL
        "skicka/ram_22_8" BEL "skicka/ram_22_7" BEL "skicka/ram_22_6" BEL
        "skicka/ram_22_5" BEL "skicka/ram_22_4" BEL "skicka/ram_22_3" BEL
        "skicka/ram_22_2" BEL "skicka/ram_22_1" BEL "skicka/ram_22_0" BEL
        "skicka/ram_18_15" BEL "skicka/ram_18_14" BEL "skicka/ram_18_13" BEL
        "skicka/ram_18_12" BEL "skicka/ram_18_11" BEL "skicka/ram_18_10" BEL
        "skicka/ram_18_9" BEL "skicka/ram_18_8" BEL "skicka/ram_18_7" BEL
        "skicka/ram_18_6" BEL "skicka/ram_18_5" BEL "skicka/ram_18_4" BEL
        "skicka/ram_18_3" BEL "skicka/ram_18_2" BEL "skicka/ram_18_1" BEL
        "skicka/ram_18_0" BEL "skicka/ram_17_15" BEL "skicka/ram_17_14" BEL
        "skicka/ram_17_13" BEL "skicka/ram_17_12" BEL "skicka/ram_17_11" BEL
        "skicka/ram_17_10" BEL "skicka/ram_17_9" BEL "skicka/ram_17_8" BEL
        "skicka/ram_17_7" BEL "skicka/ram_17_6" BEL "skicka/ram_17_5" BEL
        "skicka/ram_17_4" BEL "skicka/ram_17_3" BEL "skicka/ram_17_2" BEL
        "skicka/ram_17_1" BEL "skicka/ram_17_0" BEL "skicka/ram_19_15" BEL
        "skicka/ram_19_14" BEL "skicka/ram_19_13" BEL "skicka/ram_19_12" BEL
        "skicka/ram_19_11" BEL "skicka/ram_19_10" BEL "skicka/ram_19_9" BEL
        "skicka/ram_19_8" BEL "skicka/ram_19_7" BEL "skicka/ram_19_6" BEL
        "skicka/ram_19_5" BEL "skicka/ram_19_4" BEL "skicka/ram_19_3" BEL
        "skicka/ram_19_2" BEL "skicka/ram_19_1" BEL "skicka/ram_19_0" BEL
        "skicka/ram_16_15" BEL "skicka/ram_16_14" BEL "skicka/ram_16_13" BEL
        "skicka/ram_16_12" BEL "skicka/ram_16_11" BEL "skicka/ram_16_10" BEL
        "skicka/ram_16_9" BEL "skicka/ram_16_8" BEL "skicka/ram_16_7" BEL
        "skicka/ram_16_6" BEL "skicka/ram_16_5" BEL "skicka/ram_16_4" BEL
        "skicka/ram_16_3" BEL "skicka/ram_16_2" BEL "skicka/ram_16_1" BEL
        "skicka/ram_16_0" BEL "skicka/ram_15_15" BEL "skicka/ram_15_14" BEL
        "skicka/ram_15_13" BEL "skicka/ram_15_12" BEL "skicka/ram_15_11" BEL
        "skicka/ram_15_10" BEL "skicka/ram_15_9" BEL "skicka/ram_15_8" BEL
        "skicka/ram_15_7" BEL "skicka/ram_15_6" BEL "skicka/ram_15_5" BEL
        "skicka/ram_15_4" BEL "skicka/ram_15_3" BEL "skicka/ram_15_2" BEL
        "skicka/ram_15_1" BEL "skicka/ram_15_0" BEL "skicka/ram_14_15" BEL
        "skicka/ram_14_14" BEL "skicka/ram_14_13" BEL "skicka/ram_14_12" BEL
        "skicka/ram_14_11" BEL "skicka/ram_14_10" BEL "skicka/ram_14_9" BEL
        "skicka/ram_14_8" BEL "skicka/ram_14_7" BEL "skicka/ram_14_6" BEL
        "skicka/ram_14_5" BEL "skicka/ram_14_4" BEL "skicka/ram_14_3" BEL
        "skicka/ram_14_2" BEL "skicka/ram_14_1" BEL "skicka/ram_14_0" BEL
        "skicka/ram_13_15" BEL "skicka/ram_13_14" BEL "skicka/ram_13_13" BEL
        "skicka/ram_13_12" BEL "skicka/ram_13_11" BEL "skicka/ram_13_10" BEL
        "skicka/ram_13_9" BEL "skicka/ram_13_8" BEL "skicka/ram_13_7" BEL
        "skicka/ram_13_6" BEL "skicka/ram_13_5" BEL "skicka/ram_13_4" BEL
        "skicka/ram_13_3" BEL "skicka/ram_13_2" BEL "skicka/ram_13_1" BEL
        "skicka/ram_13_0" BEL "skicka/ram_11_15" BEL "skicka/ram_11_14" BEL
        "skicka/ram_11_13" BEL "skicka/ram_11_12" BEL "skicka/ram_11_11" BEL
        "skicka/ram_11_10" BEL "skicka/ram_11_9" BEL "skicka/ram_11_8" BEL
        "skicka/ram_11_7" BEL "skicka/ram_11_6" BEL "skicka/ram_11_5" BEL
        "skicka/ram_11_4" BEL "skicka/ram_11_3" BEL "skicka/ram_11_2" BEL
        "skicka/ram_11_1" BEL "skicka/ram_11_0" BEL "skicka/ram_10_15" BEL
        "skicka/ram_10_14" BEL "skicka/ram_10_13" BEL "skicka/ram_10_12" BEL
        "skicka/ram_10_11" BEL "skicka/ram_10_10" BEL "skicka/ram_10_9" BEL
        "skicka/ram_10_8" BEL "skicka/ram_10_7" BEL "skicka/ram_10_6" BEL
        "skicka/ram_10_5" BEL "skicka/ram_10_4" BEL "skicka/ram_10_3" BEL
        "skicka/ram_10_2" BEL "skicka/ram_10_1" BEL "skicka/ram_10_0" BEL
        "skicka/ram_12_15" BEL "skicka/ram_12_14" BEL "skicka/ram_12_13" BEL
        "skicka/ram_12_12" BEL "skicka/ram_12_11" BEL "skicka/ram_12_10" BEL
        "skicka/ram_12_9" BEL "skicka/ram_12_8" BEL "skicka/ram_12_7" BEL
        "skicka/ram_12_6" BEL "skicka/ram_12_5" BEL "skicka/ram_12_4" BEL
        "skicka/ram_12_3" BEL "skicka/ram_12_2" BEL "skicka/ram_12_1" BEL
        "skicka/ram_12_0" BEL "skicka/ram_8_15" BEL "skicka/ram_8_14" BEL
        "skicka/ram_8_13" BEL "skicka/ram_8_12" BEL "skicka/ram_8_11" BEL
        "skicka/ram_8_10" BEL "skicka/ram_8_9" BEL "skicka/ram_8_8" BEL
        "skicka/ram_8_7" BEL "skicka/ram_8_6" BEL "skicka/ram_8_5" BEL
        "skicka/ram_8_4" BEL "skicka/ram_8_3" BEL "skicka/ram_8_2" BEL
        "skicka/ram_8_1" BEL "skicka/ram_8_0" BEL "skicka/ram_7_15" BEL
        "skicka/ram_7_14" BEL "skicka/ram_7_13" BEL "skicka/ram_7_12" BEL
        "skicka/ram_7_11" BEL "skicka/ram_7_10" BEL "skicka/ram_7_9" BEL
        "skicka/ram_7_8" BEL "skicka/ram_7_7" BEL "skicka/ram_7_6" BEL
        "skicka/ram_7_5" BEL "skicka/ram_7_4" BEL "skicka/ram_7_3" BEL
        "skicka/ram_7_2" BEL "skicka/ram_7_1" BEL "skicka/ram_7_0" BEL
        "skicka/ram_9_15" BEL "skicka/ram_9_14" BEL "skicka/ram_9_13" BEL
        "skicka/ram_9_12" BEL "skicka/ram_9_11" BEL "skicka/ram_9_10" BEL
        "skicka/ram_9_9" BEL "skicka/ram_9_8" BEL "skicka/ram_9_7" BEL
        "skicka/ram_9_6" BEL "skicka/ram_9_5" BEL "skicka/ram_9_4" BEL
        "skicka/ram_9_3" BEL "skicka/ram_9_2" BEL "skicka/ram_9_1" BEL
        "skicka/ram_9_0" BEL "skicka/ram_5_15" BEL "skicka/ram_5_14" BEL
        "skicka/ram_5_13" BEL "skicka/ram_5_12" BEL "skicka/ram_5_11" BEL
        "skicka/ram_5_10" BEL "skicka/ram_5_9" BEL "skicka/ram_5_8" BEL
        "skicka/ram_5_7" BEL "skicka/ram_5_6" BEL "skicka/ram_5_5" BEL
        "skicka/ram_5_4" BEL "skicka/ram_5_3" BEL "skicka/ram_5_2" BEL
        "skicka/ram_5_1" BEL "skicka/ram_5_0" BEL "skicka/ram_4_15" BEL
        "skicka/ram_4_14" BEL "skicka/ram_4_13" BEL "skicka/ram_4_12" BEL
        "skicka/ram_4_11" BEL "skicka/ram_4_10" BEL "skicka/ram_4_9" BEL
        "skicka/ram_4_8" BEL "skicka/ram_4_7" BEL "skicka/ram_4_6" BEL
        "skicka/ram_4_5" BEL "skicka/ram_4_4" BEL "skicka/ram_4_3" BEL
        "skicka/ram_4_2" BEL "skicka/ram_4_1" BEL "skicka/ram_4_0" BEL
        "skicka/ram_6_15" BEL "skicka/ram_6_14" BEL "skicka/ram_6_13" BEL
        "skicka/ram_6_12" BEL "skicka/ram_6_11" BEL "skicka/ram_6_10" BEL
        "skicka/ram_6_9" BEL "skicka/ram_6_8" BEL "skicka/ram_6_7" BEL
        "skicka/ram_6_6" BEL "skicka/ram_6_5" BEL "skicka/ram_6_4" BEL
        "skicka/ram_6_3" BEL "skicka/ram_6_2" BEL "skicka/ram_6_1" BEL
        "skicka/ram_6_0" BEL "skicka/ram_3_15" BEL "skicka/ram_3_14" BEL
        "skicka/ram_3_13" BEL "skicka/ram_3_12" BEL "skicka/ram_3_11" BEL
        "skicka/ram_3_10" BEL "skicka/ram_3_9" BEL "skicka/ram_3_8" BEL
        "skicka/ram_3_7" BEL "skicka/ram_3_6" BEL "skicka/ram_3_5" BEL
        "skicka/ram_3_4" BEL "skicka/ram_3_3" BEL "skicka/ram_3_2" BEL
        "skicka/ram_3_1" BEL "skicka/ram_3_0" BEL "skicka/ram_2_15" BEL
        "skicka/ram_2_14" BEL "skicka/ram_2_13" BEL "skicka/ram_2_12" BEL
        "skicka/ram_2_11" BEL "skicka/ram_2_10" BEL "skicka/ram_2_9" BEL
        "skicka/ram_2_8" BEL "skicka/ram_2_7" BEL "skicka/ram_2_6" BEL
        "skicka/ram_2_5" BEL "skicka/ram_2_4" BEL "skicka/ram_2_3" BEL
        "skicka/ram_2_2" BEL "skicka/ram_2_1" BEL "skicka/ram_2_0" BEL
        "skicka/ram_1_15" BEL "skicka/ram_1_14" BEL "skicka/ram_1_13" BEL
        "skicka/ram_1_12" BEL "skicka/ram_1_11" BEL "skicka/ram_1_10" BEL
        "skicka/ram_1_9" BEL "skicka/ram_1_8" BEL "skicka/ram_1_7" BEL
        "skicka/ram_1_6" BEL "skicka/ram_1_5" BEL "skicka/ram_1_4" BEL
        "skicka/ram_1_3" BEL "skicka/ram_1_2" BEL "skicka/ram_1_1" BEL
        "skicka/ram_1_0" BEL "hs" BEL "vs" BEL "farg_0" BEL "farg_2" BEL
        "farg_5" BEL "pix_counter_0" BEL "boxpos_3" BEL "boxpos_1" BEL
        "boxpos_5" BEL "boxpos_6" BEL "boxpos_7" BEL "boxpos_0" BEL "knapp"
        BEL "turnaround" BEL "collision" BEL "skicka/z_flag" BEL
        "skicka/ASR_REG_1_1" BEL "skicka/ASR_REG_1_2" BEL "skicka/ASR_REG_1_3"
        BEL "skicka/ASR_REG_1_4" BEL "skicka/ASR_REG_1_5" BEL
        "skicka/ASR_REG_1_6" BEL "skicka/ASR_REG_1_7" BEL "skicka/ASR_REG_1_8"
        BEL "skicka/ASR_REG_1_9" BEL "clk_BUFGP/BUFG" BEL
        "U0/Mshreg_PS2Data_sr_8" BEL "U0/PS2Data_sr_8";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

